<link rel="stylesheet" href="/css/forget_in.css">
<div id="for">
    <form action="/users/reset" method="post">
        <input type="email" name="email" placeholder="Enter your registered email" required>
        <button type="submit" class="btn">Reset Password</button>
    </form>
</div>