<link rel="stylesheet" href="/css/forget_in.css">
<div id="for">
    <form action="/users/reset-password" method="post">
        <input type="password" name="password" placeholder="Enter your new password" required>
        <input type="password" name="confirm_password" placeholder="Enter your confirm_password" required>
        <input type="hidden" name="user_id" value="<%=user_id%>">
        <button type="submit">Update</button>
    </form>
</div>