/* Step-4 */
body{
    margin: 0px;
    text-align: center;
    background-color:rgb(92, 36, 92);
    #layout-main{
        height: 150%;
        color: white;
    }
    #posts-list-container{
        font-size: 2rem;
        text-align: left;
    }
}