<div>
    <p>Hi <%=comment.user.name%></p>
    <br>
    <br>
    <p>Your Comment <strong><%= comment.content%></strong> just got it Published! on Slcode.</p>
    <br>
    <br>
    <p>Thanks !</p>

</div>