/* Step-4 */
body {
  margin: 0px;
  text-align: center;
  background-color: #5c245c;
}

body #layout-main {
  height: 150%;
  color: white;
}

body #posts-list-container {
  font-size: 2rem;
  text-align: left;
}
